opencv-python==4.5.5.62
lxml==4.8.0
tqdm==4.63.0
#absl-py==1.0.0
easydict==1.9
matplotlib==3.5.1
pillow==9.0.1
scipy==1.8.0
pika==1.2.0
boto3==1.21.13
mediapipe==0.8.9.1
pymongo==4.0.2
dnspython==2.2.1